# Git
.git
.gitignore

# Environment variables
.env
.env.test
.env.example

# Testing
tests/
pytest.ini
setup_test_env.py
test_private_key.p8
.pytest_cache/

# Admin Scripts
scripts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# Deployment
# deployment/
api_keys.json
